.header {
    font: {
        family: 'Ubuntu', sans-serif;
        size: 2.5rem;
        weight: bold;
    }
    text: {
        transform: uppercase;
    }

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.2rem 0;

    background: #E8EEF2;
}
